.message-card {
  background-color: #D9D9D9;
  padding: 1px 12px 12px 12px;
  border-radius: 10px;
  margin-top: 20px;
}

.message-title {
  line-height: 0;
  font-weight: bolder;
}

.message-description {
  font-size: 12px;
  line-height: 15px;
  color: var(--maincolor);
}

.message-card-bottom {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.message-date {
  font-size: 10px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-created-by {
  font-size: 15px;
  color: var(--maincolor);
  font-weight: bolder;
}