<div class="content">
  <img src="/assets/img/Group2.png" alt="" />
  <div class="flex auto">
    <div class="with-50">
      <h2 class="text-white">Create a message to share with your friends.</h2>
      <span>Create your first message following the first steps</span>
      <div class="flex margin-bottom-30">
        <img src="/assets/img/Fashion blogging-pana2.png" alt="" />
        <div class="flex auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iusto
          magnam amet ab quod laudantium a quisquam cum facilis blanditiis iste
          animi, nesciunt quasi non laboriosam! Quo assumenda voluptatibus sunt!
        </div>
      </div>
      <div class="flex margin-bottom-30">
        <img src="/assets/img/Connected world-pana 1.png" alt="" />
        <div class="flex auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iusto
          magnam amet ab quod laudantium a quisquam cum facilis blanditiis iste
          animi, nesciunt quasi non laboriosam! Quo assumenda voluptatibus sunt!
        </div>
      </div>
      <div class="auto flex">
        <button class="sign margin-20">Sign up</button>
        <button class="logn">Logn in</button>
      </div>
    </div>
    <div class="flex auto with-50">
      <div class="ellipse"></div>
      <img src="/assets/img/Createmessage.png" alt="" width="50%" />
    </div>
  </div>
</div>
