<nav class="nav">
  <h1 class="wires">
    <a [routerLink]="['']"> WIRES </a>
  </h1>
  <section>
    <ul class="navbar-icons">
      <li class="chatbox-item" (click)="toggleShowChat()">
        <div class="menu-item-container" [ngClass]="showChat ? 'active' : ''">
          <img src="/assets/icons/chatbox-ellipses.svg" alt="Chat icon" />
        </div>
        <div
          [style]="{ display: showChat ? 'block' : 'none' }"
          class="dropdown-container"
        >
        <h6 class="recent-posts-title">Recent posts</h6>
        <ul class="recent-posts-list">
          <li *ngFor="let message of mostRecentMessages">
            <div class="title-recent-message">
              {{ message.title }}
            </div>
            <div class="body-recent-message">
              {{ message.text }}
            </div>
            <hr>
          </li>
        </ul>
      </div>
      </li>
      <li class="menu-item" (click)="toggleShowMenu()">
        <div class="menu-item-container" [ngClass]="showMenu ? 'active' : ''">
          <img src="/assets/icons/menu.svg" alt="Menu icon" />
        </div>
        <div
          [style]="{ display: showMenu ? 'block' : 'none' }"
          class="dropdown-container"
        >
          <h3 class="user-name">{{ usersService.currentUserValue.nickname }}</h3>
          <ul class="menu-option-list">
            <li>
              <img src="/assets/icons/create.svg" alt="Create icon" />
              <span
                ><a [routerLink]="['/messages/create']"
                  >Create Messages</a
                ></span
              >
            </li>
            <li>
              <img src="/assets/icons/send.svg" alt="Create icon" />
              <span>
                <a [routerLink]="['/myMessages']">My Messages</a>
              </span>
            </li>
            <li>
              <img
                src="/assets/icons/chatbubbles-sharp.svg"
                alt="Create icon"
              />
              <span>
                <a [routerLink]="['']">See all messages</a>
              </span>
            </li>
            <li (click)="logout()">
              <img src="/assets/icons/log-in-sharp.svg" alt="Create icon" />
              <span>Logout</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
</nav>
