<section class="page-container">
  <h1 class="page-title">
    {{ isMyMessagesView ? "My Messages" : "All Messages" }}
  </h1>
  <section class="inputs-container">
    <div *ngIf="!isMyMessagesView">
      <!-- <app-input-form
        placeholder="Search..."
        label="What Search?"
        name="search"
        (onInputType)="onChangeSearch($event)"
      ></app-input-form> -->

      <div class="input-container">
        <label for="">What Search?</label>
        <input
          #text
          type="text"
          placeholder="Search..."
          class="input text-center"
          (keyup)="onChangeSearch(text.value)"
        />
      </div>
    </div>

    <div class="input-container">
      <label for="">Date select</label>
      <input
        #date
        type="date"
        placeholder="Search..."
        class="input text-center"
        (change)="onChangeDate(date.value)"
      />
    </div>
    <!-- <app-input-form
      type="date"
      placeholder="Search..."
      label="Date select"
      name="search"
      (onChangeValue)="onChangeDate($event)"
    ></app-input-form> -->
  </section>
  <section class="messages-list">
    <div *ngFor="let message of messages">
      <app-message-card [message]="message"></app-message-card>
    </div>
  </section>
</section>
